<a href="https://www.kaggle.com/code/allasamoilenko/data-analysis-crime-samoilenko?scriptVersionId=233683427" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn import tree

In [36]:
data ='/kaggle/input/crime-cast-forecasting-crime-categories/train.csv'

df = pd.read_csv(data)
df.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,location,cross_street,latitude,longitude,date_reported,date_occurred,time_occurred,area_id,area_name,reporting_district_no,...,victim_age,victim_sex,victim_descent,premise_code,premise_description,weapon_used_code,weapon_description,status,status_description,crime_category
0,4500 CARPENTER AV,NaN,True,-118.3910,03/09/2020 12:00:00 AM,03/06/2020 12:00:00 AM,1800.0,15.0,N Hollywood,1563.0,...,75.0,M,W,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
1,45TH ST,ALAMEDA ST,True,-118.2391,02/27/2020 12:00:00 AM,02/27/2020 12:00:00 AM,1345.0,13.0,Newton,1367.0,...,41.0,M,H,216.0,SWAP MEET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
2,600 E MARTIN LUTHER KING JR BL,NaN,True,-118.2653,08/21/2020 12:00:00 AM,08/21/2020 12:00:00 AM,605.0,13.0,Newton,1343.0,...,67.0,M,B,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,Property Crimes
3,14900 ORO GRANDE ST,NaN,True,-118.4590,11/08/2020 12:00:00 AM,11/06/2020 12:00:00 AM,1800.0,19.0,Mission,1924.0,...,61.0,M,H,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
4,7100 S VERMONT AV,NaN,True,-118.2918,02/25/2020 12:00:00 AM,02/25/2020 12:00:00 AM,1130.0,12.0,77th Street,1245.0,...,0.0,X,X,401.0,MINI-MART,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes

In [37]:
df.describe(include='all')

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,location,cross_street,latitude,longitude,date_reported,date_occurred,time_occurred,area_id,area_name,reporting_district_no,...,victim_age,victim_sex,victim_descent,premise_code,premise_description,weapon_used_code,weapon_description,status,status_description,crime_category
count,20000,3448,20000,20000.000000,20000,20000,20000.000000,20000.000000,20000,20000.000000,...,20000.000000,17376,17376,20000.000000,19995,7335.000000,7335,20000,20000,20000
unique,12399,1495,2,NaN,811,366,NaN,NaN,21,NaN,...,NaN,4,17,NaN,216,NaN,57,5,5,6
top,6TH,BROADWAY,True,NaN,07/13/2020 12:00:00 AM,01/01/2020 12:00:00 AM,NaN,NaN,77th Street,NaN,...,NaN,M,H,NaN,STREET,NaN,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
freq,33,56,19922,NaN,87,137,NaN,NaN,1345,NaN,...,NaN,8538,6143,NaN,5033,NaN,3990,15236,15236,11666
mean,NaN,NaN,NaN,-117.893072,NaN,NaN,1352.380350,10.834250,NaN,1129.599200,...,30.135000,NaN,NaN,297.176950,NaN,366.405044,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,7.377726,NaN,NaN,646.100291,6.033166,NaN,603.330519,...,21.863645,NaN,NaN,212.007298,NaN,120.485687,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,-118.663400,NaN,NaN,1.000000,1.000000,NaN,101.000000,...,-2.000000,NaN,NaN,101.000000,NaN,101.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,-118.429700,NaN,NaN,930.000000,6.000000,NaN,632.000000,...,12.000000,NaN,NaN,101.000000,NaN,312.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,-118.323000,NaN,NaN,1430.000000,11.000000,NaN,1162.000000,...,31.000000,NaN,NaN,203.000000,NaN,400.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,-118.274400,NaN,NaN,1900.000000,16.000000,NaN,1622.000000,...,46.000000,NaN,NaN,501.000000,NaN,400.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,0.000000,NaN,NaN,2359.000000,21.000000,NaN,2197.000000,...,99.000000,NaN,NaN,969.000000,NaN,515.000000,NaN,NaN,NaN,NaN

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   location               20000 non-null  object
 1   cross_street           3448 non-null   object
 2   latitude               20000 non-null  bool
 3   longitude              20000 non-null  float64
 4   date_reported          20000 non-null  object
 5   date_occurred          20000 non-null  object
 6   time_occurred          20000 non-null  float64
 7   area_id                20000 non-null  float64
 8   area_name              20000 non-null  object
 9   reporting_district_no  20000 non-null  float64
 10  part 1-2               20000 non-null  float64
 11  modus_operandi         17259 non-null  object
 12  victim_age             20000 non-null  float64
 13  victim_sex             17376 non-null  object
 14  victim_descent         17376 non-null  object
 15  premise_code           20000 non-null  float64
 16  premise_description    19995 non-null  object
 17  weapon_used_code       7335 non-null   float64
 18  weapon_description     7335 non-null   object
 19  status                 20000 non-null  object
 20  status_description     20000 non-null  object
 21  crime_category         20000 non-null  object
dtypes: bool(1), float64(8), object(13)
memory usage: 3.2+ MB

In [39]:
df.shape

(20000, 22)

In [40]:
df.columns = df.columns.str.lower()
df.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,location,cross_street,latitude,longitude,date_reported,date_occurred,time_occurred,area_id,area_name,reporting_district_no,...,victim_age,victim_sex,victim_descent,premise_code,premise_description,weapon_used_code,weapon_description,status,status_description,crime_category
0,4500 CARPENTER AV,NaN,True,-118.3910,03/09/2020 12:00:00 AM,03/06/2020 12:00:00 AM,1800.0,15.0,N Hollywood,1563.0,...,75.0,M,W,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
1,45TH ST,ALAMEDA ST,True,-118.2391,02/27/2020 12:00:00 AM,02/27/2020 12:00:00 AM,1345.0,13.0,Newton,1367.0,...,41.0,M,H,216.0,SWAP MEET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
2,600 E MARTIN LUTHER KING JR BL,NaN,True,-118.2653,08/21/2020 12:00:00 AM,08/21/2020 12:00:00 AM,605.0,13.0,Newton,1343.0,...,67.0,M,B,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,Property Crimes
3,14900 ORO GRANDE ST,NaN,True,-118.4590,11/08/2020 12:00:00 AM,11/06/2020 12:00:00 AM,1800.0,19.0,Mission,1924.0,...,61.0,M,H,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
4,7100 S VERMONT AV,NaN,True,-118.2918,02/25/2020 12:00:00 AM,02/25/2020 12:00:00 AM,1130.0,12.0,77th Street,1245.0,...,0.0,X,X,401.0,MINI-MART,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes

In [41]:
numeric_cols = df.select_dtypes(include=['float64']).columns.tolist()
numeric_cols

['longitude',
 'time_occurred',
 'area_id',
 'reporting_district_no',
 'part 1-2',
 'victim_age',
 'premise_code',
 'weapon_used_code']

In [19]:
cat_cols = df.select_dtypes(include=['object']).columns.tolist()
cat_cols

['location',
 'cross_street',
 'date_reported',
 'date_occurred',
 'area_name',
 'modus_operandi',
 'victim_sex',
 'victim_descent',
 'premise_description',
 'weapon_description',
 'status',
 'status_description',
 'crime_category']